<nav class="navbar is-primary is-left-bordered">
  <div class="navbar-brand">
    <a id="navbtnNavigation" role="button" class="navbar-burger burger left" data-target="navbarNavigation">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

    <a id="navbtnFunctions" role="button" class="navbar-burger burger" data-target="navbarFunctions">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarFunctions" class="navbar-menu is-paddingless">
    <div class="navbar-start">
      <a class="navbar-item"><i class="fas fa-plus-square"></i>&nbsp;New record</a>
      <a class="navbar-item"><i class="fas fa-minus-square"></i>&nbsp;Delete record</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field">
          <div class="control has-icons-left">
            <input id="search" class="input is-small" type="search" placeholder="Search">
            <span class="icon is-left">
              <i class="fas fa-search"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
