<!-- <app-navbar></app-navbar>
<div class="columns is-gapless">
  <div class="column is-narrow">
    <div style="width: 250px;">
      <app-leftbar></app-leftbar>
    </div>
  </div>
  <div class="column">
    <app-dynamic></app-dynamic>
  </div>
</div> -->
<!-- <div class="columns is-gapless">
  <div class="column is-narrow has-background-light is-paddingless is-right-bordered">
    <div style="width: 250px;">
      <app-leftbar></app-leftbar>
    </div>
  </div>
  <div class="column">
    <div class="columns">
      <app-navbar class="column"></app-navbar>
    </div>
    <div class="columns">
      <app-dynamic class="column"></app-dynamic>
    </div>
  </div>
</div> -->
<div>
  <app-leftbar></app-leftbar>
  <div>
    <app-dynamic></app-dynamic>
  </div>
</div>
