<nav class="navbar is-primary is-left-bordered">
  <div class="navbar-brand">
    <a id="navbtnNavigation" role="button" class="navbar-burger burger left" data-target="navbarNavigation">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

    <a id="navbtnFunctions" role="button" class="navbar-burger burger" data-target="navbarFunctions">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarFunctions" class="navbar-menu is-paddingless">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
    </div>
  </div>
</nav>

<div class="columns is-gapless has-background-white is-left-bordered is-size-7 is-fullheight">
  <div id="detail" *ngIf="detail" class="column">
    <!-- Detail -->
    <div class="box">
      <div class="columns">
        <div class="column">
          <div class="columns">
            <div class="column">
              <div class="card has-background-warning has-text-white">
                <div class="card-header">
                  <div class="card-header-title has-text-black is-uppercase">
                    {{ 'dashboard.customers' | translate }}
                  </div>
                </div>
                <div class="card-content has-background-white has-text-centered">
                  <canvas id="customersCanvas">{{customers}}</canvas>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card has-background-success has-text-white">
                <div class="card-header">
                  <div class="card-header-title has-text-white is-uppercase">
                    {{ 'dashboard.quotes' | translate }}
                  </div>
                </div>
                <div class="card-content has-background-white has-text-centered">
                  <canvas id="quotesCanvas">{{quotes}}</canvas>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card has-background-info has-text-white">
                <div class="card-header">
                  <div class="card-header-title has-text-white is-uppercase">
                    {{ 'dashboard.invoices' | translate }}
                  </div>
                </div>
                <div class="card-content has-background-white has-text-centered">
                  <canvas id="invoicesCanvas">{{invoices}}</canvas>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card has-background-danger has-text-white">
                <div class="card-header">
                  <div class="card-header-title has-text-white is-uppercase">
                    {{ 'dashboard.todos' | translate }}
                  </div>
                </div>
                <div class="card-content has-background-white has-text-centered">
                  <p class="is-size-3 has-text-black">
                    {{result.todosfortoday}}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <article class="message is-danger">
                <div class="message-header">
                  <p>{{ 'dashboard.products' | translate }}</p>
                </div>
                <div class="message-body">
                  <canvas id="topproductsCanvas">{{topproducts}}</canvas>
                </div>
              </article>
            </div>
            <div class="column">
              <article class="message is-success">
                <div class="message-header">
                  <p>{{ 'dashboard.deals' | translate }}</p>
                </div>
                <div class="message-body">
                  <canvas id="topdealsCanvas">{{topdeals}}</canvas>
                </div>
              </article>
            </div>
            <div class="column">
              <article class="message is-info">
                <div class="message-header">
                  <p>{{ 'dashboard.sales' | translate }}</p>
                </div>
                <div class="message-body">
                  <canvas id="topsalesCanvas">{{topsales}}</canvas>
                </div>
              </article>
            </div>
          </div>
          <div class="columns is-centered">
            <div class="column is-four-fifths">
              <article class="message is-dark">
                <div class="message-header">
                  <p class="has-text-centered">{{ 'dashboard.calendar' | translate }}</p>
                </div>
                <div class="message-body">
                  <full-calendar
                    defaultView="dayGridMonth"
                    [plugins]="calendarPlugins"
                    [locales]="locales"
                    [locale]="locale"
                    [weekends]="true"
                    [events]="events"
                  ></full-calendar>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
